* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #45D673;
  --secondary: #D645A8;
  --bg-primary: #E3F2E7;
  --bg-secondary: #F9FCFA;
  --shadow: #919191;
}

/* Google Font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Header*/
header {
  height: 20vh;
  background-color: var(--primary);
  padding-top: 2vh;
}

h1 {
  text-align: center;
}

/* Section*/
section {
  background-color: var(--bg-primary);
}

p {
  padding: 16px 24px;
}

h2 {
  color: var(--secondary);
  padding: 16px;
  text-align: center;
}

h2 a {
  color: var(--secondary);
}

.centrado {
  text-align: center;
  padding: 40px 48px;
}

button {
  background-color: var(--secondary);
  border: none;
  border-radius: 16px;
  box-shadow: -4px 4px 2px var(--shadow);
  margin: 16px;
  padding: 16px;
}

button a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: var(--primary);
  height: 14vh;
  padding: 2vh;
}